<launch>

  <group>
    <include file="$(find caros_universalrobot)/launch/caros_universalrobot.launch">
    </include>

    <node pkg="mainlogic" type="mainlogic" name ="masternode_testing">
    </node>

    <node pkg="rrt" type="rrt_server" name="rrt_server_testing">
    </node>

  </group>
</launch>
